@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', "sans-serif";
  background-color: #fff;
  font-size: 16px;
  line-height: 25px; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Jost', sans-serif; }
  body a {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    display: block; }
  body ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  body p {
    font-family: 'Oxygen', sans-serif; }
  @media (min-width: 1200px) {
    body .container {
      max-width: 1200px; } }
