.AboutWrap {
  margin: 60px 0; }
  .AboutWrap .AboutGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
    grid-template-columns: 50% auto; }
    .AboutWrap .AboutGrid .AboutImg {
      background-image: url(../image/aboutimg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .AboutWrap .AboutGrid .AboutTitle {
      padding-left: 15px;
      background-color: #272C49;
      padding: 50px; }
      .AboutWrap .AboutGrid .AboutTitle .AboutHead {
        color: #fff; }
      .AboutWrap .AboutGrid .AboutTitle .AboutPrag {
        margin-bottom: 0;
        color: #fff; }
