.BannerWrap .SliderBanner {
  height: 100vh;
  background-color: #000000;
  position: relative;
  overflow-x: hidden;
  width: 100%; }
  .BannerWrap .SliderBanner .main_bannerSlid .banner_img {
    height: 100vh; }
    .BannerWrap .SliderBanner .main_bannerSlid .banner_img img {
      width: 100% !important;
      height: auto; }
  .BannerWrap .SliderBanner .BannerMinWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .BannerWrap .SliderBanner .BannerMinWrap .BannerInner {
      width: 100%;
      margin: 0 auto; }
      .BannerWrap .SliderBanner .BannerMinWrap .BannerInner .Banner_head {
        text-align: left;
        color: #fff;
        font-size: 4.6rem;
        line-height: 1.1;
        font-weight: 700; }
      .BannerWrap .SliderBanner .BannerMinWrap .BannerInner .BannerPrag {
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.5;
        font-size: 19px;
        margin-bottom: 1rem; }
      .BannerWrap .SliderBanner .BannerMinWrap .BannerInner .ButtonWrap .ButtoN {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        text-shadow: none;
        border-radius: 25px;
        color: #000;
        text-align: center;
        padding: 10px 30px;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        line-height: 1.4285;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        overflow: hidden;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        outline: none;
        display: inline-block;
        -webkit-box-shadow: 0 2px 2px 0 #00000033;
        box-shadow: 0 2px 2px 0 #00000033;
        margin-top: 10px; }
        .BannerWrap .SliderBanner .BannerMinWrap .BannerInner .ButtonWrap .ButtoN:hover {
          color: #fff;
          -webkit-box-shadow: 0 2px 2px 0 #00000033;
          box-shadow: 0 2px 2px 0 #00000033;
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
          border: 1px solid #b09141;
          background-color: #b09141; }
