.TacticalBannerWrap {
    padding: 150px 0 100px;
    background-color: #282A35;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .TacticalImgWrap {
       display: flex;
       align-items: center;
       justify-content: center;
        .TacticalInner { 
            width: 300px;
            height: 400px;
            border-radius: 10px;
            position: relative;
            border: 2px solid rgb(255, 255, 255);  
            cursor: pointer;
            .BacColor {
                position: absolute;
                top: -25px;
                right: -25px;
                width: 300px;
                height: 400px;
                background-color: #101010;
                border-radius: 10px;
                .TacticailIMG {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    overflow: hidden;
                    width: 300px;
                    height: 400px;
                    border-radius: 10px;
                    transition: all 0.5s ease;
                  
                }
            }
            &:hover {
                .BacColor {
                    .TacticailIMG {
                        top: -25px;
                        right: -25px;
                    }
                }
            }

        }
    }
    .TacticalTitleWrap {
        height: 100%;
        display: flex;
        align-items: center;
        .TacticalContaint {
            .TacticlHead {
                font-size: 52px;
                margin-bottom: 20px; 
                color: #fff;
            }
            .TacticlPra {
                line-height: 1.9;
                margin-bottom: 30px; 
                color: #fff;
            }
            .ButtonWrap {
                .ButtoN {
                    background-color: #ffffff;
                    border: 1px solid #ffffff;
                    text-shadow: none;
                    border-radius: 25px;
                    color: #000;
                    text-align: center;
                    padding: 10px 30px;
                    font-weight: 400;
                    font-size: 14px;
                    cursor: pointer;
                    line-height: 1.4285;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    transition: 0.5s ease;
                    outline: none;
                    display: inline-block;
                    box-shadow: 0 2px 2px 0 #00000033;
                    margin-top: 10px;
                    &:hover {
                        color: #fff;
                        box-shadow: 0 2px 2px 0 #00000033;
                        transform: scale(1.05); 
                        border: 1px solid #b09141;
                        background-color: #b09141;
                    }
                }
    
            }
        }
       
    }
}