.cardWrap {
    background-color: #e3e7ec;
    padding-bottom: 60px;
    margin-top: -60px;
    .CtmNewsInner {
        display: flex;
        .NewsInner{
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 25px;
            transition: all 0.5s ease;
            cursor: pointer;
            z-index: 3;
           box-shadow: 0px 5px 6px 0px #00000026;;
            .classic { 
                position: relative;
                overflow: hidden;
                width: 100%;
                .blog_img { 
                    height: 250px;
                    transition: all 1s linear;
                    width: 100%;
                    &:focus {
                        outline: none;
                    } 
                }
                .img_overlay {
                    &:before,
                    &:after {
                    background: #b09141;
                    width: 25%;
                    position: absolute;
                    content: '';
                    opacity: 0;
                    transition: all 0.3s steps(4);
                    z-index: 1;
                    bottom: 100%;
                    top: 0;
                    
                    }
                }
                &:before,
                &::after {
                    background: #6241b0;
                    width: 25%;
                    position: absolute;
                    content: '';
                    opacity: 0;
                    transition: all 0.3s steps(4);
                    z-index: 1;
                    bottom: 100%;
                    top: 0;
                }
                &::before {
                    left: 0;
                    transition-delay: 0s;
                }
                &::after {
                    left: 25%;
                    transition-delay: 0.025s !important;
                }
                .img_overlay {
                    &::before {
                        left: 50%;
                        transition-delay: 0.05s !important;
                    }
                }
                .img_overlay {
                    &::after {
                        left: 75%;
                        transition-delay: 0.15s !important;
                    }
                }
                &:hover {
                    &::before,
                    &::after {
                        bottom: 0;
                        opacity: 0.5;
                    }
                    .blog_img {
                        transform: scale(1.2);
                    }
                }
                .img_overlay{
                    &::before,
                    &::after {
                        background: #6241b0 !important;
                        width: 25%;
                        position: absolute;
                        content: '';
                        opacity: 0;
                        -webkit-transition: all 0.3s steps(4);
                        transition: all 0.3s steps(4);
                        z-index: 1;
                        bottom: 100%;
                        top: 0;
                    }
                }
                &:hover {
                    .img_overlay{
                        &::before,
                        &::after {
                            bottom: 0;
                            opacity: 0.5;
                        }
                    }
                }
            }
            .blog_details {
                padding: 15px;
                background-color: #fff;
                height: 100%;
                .time {
                    color: #000;
                    text-transform: capitalize;
                    font-weight: 700;
                    letter-spacing: 0.03em;
                    font-family: 'Jost', sans-serif;
                    font-size: 26px;
                    line-height: 1.5;
                    margin: 5px 0;
                }
                .lang_blog {
                    color: #222;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.03em;
                    margin-top: 10px;
                    transition: all 0.5s ease;
                    font-family: 'Oxygen', sans-serif;
                }
            }
            &:hover {
                box-shadow: 0px 10px 30px 0px #00000026;
            }
        }
    }
   
    
}